#Importing libaries

In [100]:
import pandas as pd
import numpy as np
import datetime as dt

#Connecting Google Drive

In [101]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

#Data types needed 


* Tweet                              string
* Date                       datetime64[ns]
* time                               object
* Day of week                        object
* Cashtags                           string
* Hashtags                           string
* Language                           string
* Location                             bool
* Mentioned_users                      bool
* Followers                         float64
* Following                         float64
* User_created_date          datetime64[ns]
* Listed_count                      float64
* Favourite_count                     int64
* Tweet_count                       float64
* Verified                             bool
* Average_favourite_count           float64
* account_age                       float64
* Likes                             float64
* Comments                          float64
* Retweets                          float64
* Views                             float64

#my_data_apple

In [102]:
def bad_line(x):
    print(x)
    return None

df_apple = pd.read_csv('/content/drive/Othercomputers/My Laptop (1)/year4/final_project/data_science/data_set/my_data_apple.csv',  on_bad_lines=bad_line, engine='python')
# drop column 
df_apple = df_apple.drop(columns=['Tweet_id','Cordinates','Place','User'])
df_apple.dtypes

Date                  object
Tweet                 object
Cashtags              object
Hashtags              object
Language              object
Likes                float64
Comments             float64
Retweets             float64
Mentioned_users       object
Views                 object
Followers            float64
Following            float64
User_created_date     object
Listed_count         float64
Favourite_count       object
Location              object
Tweet_count          float64
Verified              object
dtype: object

Cleaning Date column

In [103]:
# drop empty and non-date values in the 'date' column
df_apple['Date'] = pd.to_datetime(df_apple['Date'], errors='coerce').dt.tz_localize(None)
df_apple = df_apple.dropna(subset=['Date'])
df_apple['Tweet'] = df_apple['Tweet'].astype('string')
column_list = ['Hashtags','Cashtags','Language'] 

# replace None and NaN with null in column 'Cashtags'
for column_item in column_list:
  df_apple[column_item] = df_apple[column_item].fillna('null')
  df_apple[column_item] = df_apple[column_item].astype('string')

drop_list = ['Likes','Comments','Retweets','Views']
for drop_item in drop_list:
  df_apple = df_apple.dropna(subset=[drop_item])

# replace empty strings and whitespace with NaN
df_apple['Mentioned_users'] = df_apple['Mentioned_users'].replace(['', ' '], np.nan)

# convert to bool
df_apple['Mentioned_users'] = df_apple['Mentioned_users'].notnull().astype(bool)

# convert column 'Views' to numeric data type
df_apple['Views'] = pd.to_numeric(df_apple['Views'], errors='coerce')
df_apple['User_created_date'] = pd.to_datetime(df_apple['User_created_date'], errors='coerce').dt.tz_localize(None)
df_apple['Favourite_count'] = pd.to_numeric(df_apple['Favourite_count'], errors='coerce')

# replace empty strings and whitespace with NaN
df_apple['Location'] = df_apple['Location'].replace(['', ' '], np.nan)

# convert to bool
df_apple['Location'] = df_apple['Location'].notnull().astype(bool)
df_apple['Verified'] = df_apple['Verified'].notnull().astype(bool)
df_apple['Average_favourite_count'] = df_apple['Favourite_count'] / df_apple['Tweet_count']
# calculate account age in years
current_date = dt.datetime.now()
df_apple['account_age'] = (current_date - df_apple['User_created_date']).astype('timedelta64[Y]')

# extract the time of day in 24 hour format
df_apple['time'] = df_apple['Date'].dt.strftime('%H:%M:%S')

# create a Day of week column
df_apple['Day of week'] = df_apple['Date'].dt.day_name()

#reorder
df_apple = df_apple.reindex(columns=['Tweet', 'Date', 'time', 'Day of week', 'Cashtags', 'Hashtags', 'Language', 'Location', 'Mentioned_users', 'Followers', 'Following', 'User_created_date', 'Listed_count', 'Favourite_count', 'Tweet_count', 'Verified', 'Average_favourite_count', 'account_age', 'Likes', 'Comments', 'Retweets', 'Views'])
print(df_apple.dtypes)
df_apple.shape

<ipython-input-103-a7388cdfb204>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_apple['Tweet'] = df_apple['Tweet'].astype('string')
<ipython-input-103-a7388cdfb204>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_apple[column_item] = df_apple[column_item].fillna('null')
<ipython-input-103-a7388cdfb204>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_apple[column_item] = df_apple[column_item].astype('string')

Tweet                              string
Date                       datetime64[ns]
time                               object
Day of week                        object
Cashtags                           string
Hashtags                           string
Language                           string
Location                             bool
Mentioned_users                      bool
Followers                         float64
Following                         float64
User_created_date          datetime64[ns]
Listed_count                      float64
Favourite_count                     int64
Tweet_count                       float64
Verified                             bool
Average_favourite_count           float64
account_age                       float64
Likes                             float64
Comments                          float64
Retweets                          float64
Views                             float64
dtype: object

(49368, 22)

#my_data_bank

In [104]:
def bad_line(x):
    print(x)
    return None

df_bank = pd.read_csv('/content/drive/Othercomputers/My Laptop (1)/year4/final_project/data_science/data_set/my_data_bank.csv',  on_bad_lines=bad_line, engine='python')
# drop column 
df_bank = df_bank.drop(columns=['Tweet_id','Cordinates','Place','User'])
df_bank.dtypes

Date                  object
Tweet                 object
Cashtags              object
Hashtags              object
Language              object
Likes                float64
Comments             float64
Retweets             float64
Mentioned_users       object
Views                float64
Followers            float64
Following            float64
User_created_date     object
Listed_count         float64
Favourite_count      float64
Location              object
Tweet_count          float64
Verified              object
dtype: object

In [105]:
# drop empty and non-date values in the 'date' column
df_bank['Date'] = pd.to_datetime(df_bank['Date'], errors='coerce').dt.tz_localize(None)
df_bank = df_bank.dropna(subset=['Date'])
df_bank['Tweet'] = df_bank['Tweet'].astype('string')
column_list = ['Hashtags','Cashtags','Language'] 

# replace None and NaN with null in column 'Cashtags'
for column_item in column_list:
  df_bank[column_item] = df_bank[column_item].fillna('null')
  df_bank[column_item] = df_bank[column_item].astype('string')

drop_list = ['Likes','Comments','Retweets','Views']
for drop_item in drop_list:
  df_bank = df_bank.dropna(subset=[drop_item])

# replace empty strings and whitespace with NaN
df_bank['Mentioned_users'] = df_bank['Mentioned_users'].replace(['', ' '], np.nan)

# convert to bool
df_bank['Mentioned_users'] = df_bank['Mentioned_users'].notnull().astype(bool)

# convert column 'Views' to numeric data type
df_bank['Views'] = pd.to_numeric(df_bank['Views'], errors='coerce')
df_bank['User_created_date'] = pd.to_datetime(df_bank['User_created_date'], errors='coerce').dt.tz_localize(None)
df_bank['Favourite_count'] = pd.to_numeric(df_bank['Favourite_count'], errors='coerce')

# replace empty strings and whitespace with NaN
df_bank['Location'] = df_bank['Location'].replace(['', ' '], np.nan)

# convert to bool
df_bank['Location'] = df_bank['Location'].notnull().astype(bool)
df_bank['Verified'] = df_bank['Verified'].notnull().astype(bool)
df_bank['Average_favourite_count'] = df_bank['Favourite_count'] / df_bank['Tweet_count']
# calculate account age in years
current_date = dt.datetime.now()
df_bank['account_age'] = (current_date - df_bank['User_created_date']).astype('timedelta64[Y]')

# extract the time of day in 24 hour format
df_bank['time'] = df_bank['Date'].dt.strftime('%H:%M:%S')

# create a Day of week column
df_bank['Day of week'] = df_bank['Date'].dt.day_name()

#reorder
df_bank = df_bank.reindex(columns=['Tweet', 'Date', 'time', 'Day of week', 'Cashtags', 'Hashtags', 'Language', 'Location', 'Mentioned_users', 'Followers', 'Following', 'User_created_date', 'Listed_count', 'Favourite_count', 'Tweet_count', 'Verified', 'Average_favourite_count', 'account_age', 'Likes', 'Comments', 'Retweets', 'Views'])
print(df_bank.dtypes)
df_bank.shape

<ipython-input-105-81b770bcbe60>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_bank['Tweet'] = df_bank['Tweet'].astype('string')
<ipython-input-105-81b770bcbe60>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_bank[column_item] = df_bank[column_item].fillna('null')
<ipython-input-105-81b770bcbe60>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_bank[column_item] = df_bank[column_item].astype('string')

Tweet                              string
Date                       datetime64[ns]
time                               object
Day of week                        object
Cashtags                           string
Hashtags                           string
Language                           string
Location                             bool
Mentioned_users                      bool
Followers                         float64
Following                         float64
User_created_date          datetime64[ns]
Listed_count                      float64
Favourite_count                   float64
Tweet_count                       float64
Verified                             bool
Average_favourite_count           float64
account_age                       float64
Likes                             float64
Comments                          float64
Retweets                          float64
Views                             float64
dtype: object

(49378, 22)

#my_data_car

In [106]:
def bad_line(x):
    print(x)
    return None

df_car = pd.read_csv('/content/drive/Othercomputers/My Laptop (1)/year4/final_project/data_science/data_set/my_data_car.csv',  on_bad_lines=bad_line, engine='python')
# drop column 
df_car = df_car.drop(columns=['Tweet_id','Cordinates','Place','User'])
df_car.dtypes

Date                  object
Tweet                 object
Cashtags              object
Hashtags              object
Language              object
Likes                  int64
Comments               int64
Retweets               int64
Mentioned_users       object
Views                float64
Followers              int64
Following              int64
User_created_date     object
Listed_count           int64
Favourite_count        int64
Location              object
Tweet_count            int64
Verified                bool
dtype: object

In [107]:
# drop empty and non-date values in the 'date' column
df_car['Date'] = pd.to_datetime(df_car['Date'], errors='coerce').dt.tz_localize(None)
df_car = df_car.dropna(subset=['Date'])
df_car['Tweet'] = df_car['Tweet'].astype('string')
column_list_df_car = ['Hashtags','Cashtags','Language'] 

# replace None and NaN with null in column 'Cashtags'
for column_item_df_car in column_list_df_car:
  df_car[column_item_df_car] = df_car[column_item_df_car].fillna('null')
  df_car[column_item_df_car] = df_car[column_item_df_car].astype('string')

drop_list_df_car = ['Likes','Comments','Retweets','Views']
for drop_item_df_car in drop_list_df_car:
  df_car = df_car.dropna(subset=[drop_item_df_car])

# replace empty strings and whitespace with NaN
df_car['Mentioned_users'] = df_car['Mentioned_users'].replace(['', ' '], np.nan)

# convert to bool
df_car['Mentioned_users'] = df_car['Mentioned_users'].notnull().astype(bool)

# convert column 'Views' to numeric data type
df_car['Views'] = pd.to_numeric(df_car['Views'], errors='coerce')
df_car['User_created_date'] = pd.to_datetime(df_car['User_created_date'], errors='coerce').dt.tz_localize(None)
df_car['Favourite_count'] = pd.to_numeric(df_car['Favourite_count'], errors='coerce')

# replace empty strings and whitespace with NaN
df_car['Location'] = df_car['Location'].replace(['', ' '], np.nan)

# convert to bool
df_car['Location'] = df_car['Location'].notnull().astype(bool)
df_car['Verified'] = df_car['Verified'].notnull().astype(bool)
df_car['Average_favourite_count'] = df_car['Favourite_count'] / df_car['Tweet_count']
# calculate account age in years
current_date = dt.datetime.now()
df_car['account_age'] = (current_date - df_car['User_created_date']).astype('timedelta64[Y]')

# extract the time of day in 24 hour format
df_car['time'] = df_car['Date'].dt.strftime('%H:%M:%S')

# create a Day of week column
df_car['Day of week'] = df_car['Date'].dt.day_name()

#reorder
df_car = df_car.reindex(columns=['Tweet', 'Date', 'time', 'Day of week', 'Cashtags', 'Hashtags', 'Language', 'Location', 'Mentioned_users', 'Followers', 'Following', 'User_created_date', 'Listed_count', 'Favourite_count', 'Tweet_count', 'Verified', 'Average_favourite_count', 'account_age', 'Likes', 'Comments', 'Retweets', 'Views'])
print(df_car.dtypes)
df_car.shape

Tweet                              string
Date                       datetime64[ns]
time                               object
Day of week                        object
Cashtags                           string
Hashtags                           string
Language                           string
Location                             bool
Mentioned_users                      bool
Followers                           int64
Following                           int64
User_created_date          datetime64[ns]
Listed_count                        int64
Favourite_count                     int64
Tweet_count                         int64
Verified                             bool
Average_favourite_count           float64
account_age                       float64
Likes                               int64
Comments                            int64
Retweets                            int64
Views                             float64
dtype: object

(9777, 22)

#my_data_company

In [108]:
def bad_line(x):
    print(x)
    return None

df_company = pd.read_csv('/content/drive/Othercomputers/My Laptop (1)/year4/final_project/data_science/data_set/my_data_comapny.csv',  on_bad_lines=bad_line, engine='python')
# drop column 
df_company = df_company.drop(columns=['Tweet_id','Cordinates','Place','User'])
df_company.dtypes

Date                  object
Tweet                 object
Cashtags              object
Hashtags              object
Language              object
Likes                float64
Comments             float64
Retweets             float64
Mentioned_users       object
Views                 object
Followers            float64
Following            float64
User_created_date     object
Listed_count         float64
Favourite_count       object
Location              object
Tweet_count          float64
Verified              object
dtype: object

In [109]:
# drop empty and non-date values in the 'date' column
df_company['Date'] = pd.to_datetime(df_company['Date'], errors='coerce').dt.tz_localize(None)
df_company = df_company.dropna(subset=['Date'])
df_company['Tweet'] = df_company['Tweet'].astype('string')
column_list_df_company = ['Hashtags','Cashtags','Language'] 

# replace None and NaN with null in column 'Cashtags'
for column_item_df_company in column_list_df_company:
  df_company[column_item_df_company] = df_company[column_item_df_company].fillna('null')
  df_company[column_item_df_company] = df_company[column_item_df_company].astype('string')

drop_list_df_company = ['Likes','Comments','Retweets','Views']
for drop_item_df_company in drop_list_df_company:
  df_company = df_company.dropna(subset=[drop_item_df_company])

# replace empty strings and whitespace with NaN
df_company['Mentioned_users'] = df_company['Mentioned_users'].replace(['', ' '], np.nan)

# convert to bool
df_company['Mentioned_users'] = df_company['Mentioned_users'].notnull().astype(bool)

# convert column 'Views' to numeric data type
df_company['Views'] = pd.to_numeric(df_company['Views'], errors='coerce')
df_company['User_created_date'] = pd.to_datetime(df_company['User_created_date'], errors='coerce').dt.tz_localize(None)
df_company['Favourite_count'] = pd.to_numeric(df_company['Favourite_count'], errors='coerce')

# replace empty strings and whitespace with NaN
df_company['Location'] = df_company['Location'].replace(['', ' '], np.nan)

# convert to bool
df_company['Location'] = df_company['Location'].notnull().astype(bool)
df_company['Verified'] = df_company['Verified'].notnull().astype(bool)
df_company['Average_favourite_count'] = df_company['Favourite_count'] / df_company['Tweet_count']
# calculate account age in years
current_date = dt.datetime.now()
df_company['account_age'] = (current_date - df_company['User_created_date']).astype('timedelta64[Y]')

# extract the time of day in 24 hour format
df_company['time'] = df_company['Date'].dt.strftime('%H:%M:%S')

# create a Day of week column
df_company['Day of week'] = df_company['Date'].dt.day_name()

#reorder
df_company = df_company.reindex(columns=['Tweet', 'Date', 'time', 'Day of week', 'Cashtags', 'Hashtags', 'Language', 'Location', 'Mentioned_users', 'Followers', 'Following', 'User_created_date', 'Listed_count', 'Favourite_count', 'Tweet_count', 'Verified', 'Average_favourite_count', 'account_age', 'Likes', 'Comments', 'Retweets', 'Views'])
print(df_company.dtypes)
df_company.shape

Tweet                              string
Date                       datetime64[ns]
time                               object
Day of week                        object
Cashtags                           string
Hashtags                           string
Language                           string
Location                             bool
Mentioned_users                      bool
Followers                         float64
Following                         float64
User_created_date          datetime64[ns]
Listed_count                      float64
Favourite_count                     int64
Tweet_count                       float64
Verified                             bool
Average_favourite_count           float64
account_age                       float64
Likes                             float64
Comments                          float64
Retweets                          float64
Views                             float64
dtype: object

(195933, 22)

In [110]:
df_company.head()

,Tweet,Date,time,Day of week,Cashtags,Hashtags,Language,Location,Mentioned_users,Followers,...,Listed_count,Favourite_count,Tweet_count,Verified,Average_favourite_count,account_age,Likes,Comments,Retweets,Views
0,I’ve got new music dropping soon (powered by @...,2023-03-25 23:59:59,23:59:59,Saturday,null,null,en,False,True,4.0,...,0.0,9,10.0,True,0.900000,1.0,2.0,1.0,0.0,32.0
1,@ErikKlein66 @jilevin Those are all equally do...,2023-03-25 23:59:57,23:59:57,Saturday,null,null,en,False,True,1734.0,...,8.0,14812,20997.0,True,0.705434,5.0,0.0,1.0,0.0,27.0
2,"@Aunty_Hen @ValerieNoonan2 Luckily, I kept the...",2023-03-25 23:59:56,23:59:56,Saturday,null,null,en,True,True,13750.0,...,119.0,298093,143867.0,True,2.072004,13.0,4.0,2.0,0.0,19.0
3,@PrairieCzar Glad you enjoyed yourself! #cheers,2023-03-25 23:59:55,23:59:55,Saturday,null,['cheers'],en,True,True,116.0,...,6.0,237,20.0,True,11.850000,3.0,1.0,0.0,0.0,28.0
4,Drinking an Alone In the Light by Odd Colony B...,2023-03-25 23:59:52,23:59:52,Saturday,null,null,en,True,False,34.0,...,0.0,321,10639.0,True,0.030172,13.0,0.0,0.0,0.0,1.0

#my_data_data

In [111]:
def bad_line(x):
    print(x)
    return None

df_data = pd.read_csv('/content/drive/Othercomputers/My Laptop (1)/year4/final_project/data_science/data_set/my_data_data.csv',  on_bad_lines=bad_line, engine='python')
# drop column 
df_data = df_data.drop(columns=['Tweet_id','Cordinates','Place','User'])
df_data.dtypes

Date                  object
Tweet                 object
Cashtags              object
Hashtags              object
Language              object
Likes                 object
Comments             float64
Retweets             float64
Mentioned_users       object
Views                 object
Followers            float64
Following            float64
User_created_date     object
Listed_count         float64
Favourite_count       object
Location              object
Tweet_count          float64
Verified              object
dtype: object

In [112]:
df_data.head()

,Date,Tweet,Cashtags,Hashtags,Language,Likes,Comments,Retweets,Mentioned_users,Views,Followers,Following,User_created_date,Listed_count,Favourite_count,Location,Tweet_count,Verified
0,2023-03-25 23:59:59+00:00,🚨[US] msi 4070ti MSI Gaming (MSI for 💵$909🚨 \...,NaN,"['4070ti', 'ad']",in,0,0.0,0.0,NaN,7.0,10431.0,21.0,2020-12-08 01:39:16+00:00,81.0,23,USA,838077.0,False
1,2023-03-25 23:59:59+00:00,🚨[US] msi 4070ti MSI Gaming GeFo for 💵$869🚨 \...,NaN,"['4070ti', 'ad']",in,0,0.0,0.0,NaN,8.0,10431.0,21.0,2020-12-08 01:39:16+00:00,81.0,23,USA,838077.0,False
2,2023-03-25 23:59:59+00:00,🚨[US] asus 4070ti ASUS TUF Gaming for 💵$849🚨 ...,NaN,"['4070ti', 'ad']",en,0,0.0,0.0,NaN,10.0,10431.0,21.0,2020-12-08 01:39:16+00:00,81.0,23,USA,838077.0,False
3,2023-03-25 23:59:59+00:00,🚨[US] asus 4090 ASUS ROG Strix for 💵$2009🚨 \...,NaN,['ad'],en,0,0.0,0.0,NaN,11.0,10431.0,21.0,2020-12-08 01:39:16+00:00,81.0,23,USA,838077.0,False
4,2023-03-25 23:59:59+00:00,🚨[US] msi 4070ti MSI Gaming GeFo for 💵$909🚨 \...,NaN,"['4070ti', 'ad']",in,0,0.0,0.0,NaN,8.0,10431.0,21.0,2020-12-08 01:39:16+00:00,81.0,23,USA,838077.0,False

In [113]:
# drop empty and non-date values in the 'date' column
df_data['Date'] = pd.to_datetime(df_data['Date'], errors='coerce').dt.tz_localize(None)
df_data = df_data.dropna(subset=['Date'])
df_data['Tweet'] = df_data['Tweet'].astype('string')
column_list_df_data = ['Hashtags','Cashtags','Language'] 

# replace None and NaN with null in column 'Cashtags'
for column_item_df_data in column_list_df_data:
  df_data[column_item_df_data] = df_data[column_item_df_data].fillna('null')
  df_data[column_item_df_data] = df_data[column_item_df_data].astype('string')

drop_list_df_data = ['Likes','Comments','Retweets','Views']
for drop_item_df_data in drop_list_df_data:
  df_data = df_data.dropna(subset=[drop_item_df_data])

# replace empty strings and whitespace with NaN
df_data['Mentioned_users'] = df_data['Mentioned_users'].replace(['', ' '], np.nan)

# convert to bool
df_data['Mentioned_users'] = df_data['Mentioned_users'].notnull().astype(bool)

# convert column 'Views' to numeric data type
df_data['Views'] = pd.to_numeric(df_data['Views'], errors='coerce')
df_data['User_created_date'] = pd.to_datetime(df_data['User_created_date'], errors='coerce').dt.tz_localize(None)
df_data['Favourite_count'] = pd.to_numeric(df_data['Favourite_count'], errors='coerce')

# replace empty strings and whitespace with NaN
df_data['Location'] = df_data['Location'].replace(['', ' '], np.nan)

# convert to bool
df_data['Location'] = df_data['Location'].notnull().astype(bool)
df_data['Verified'] = df_data['Verified'].notnull().astype(bool)
df_data['Average_favourite_count'] = df_data['Favourite_count'] / df_data['Tweet_count']
# calculate account age in years
current_date = dt.datetime.now()
df_data['account_age'] = (current_date - df_data['User_created_date']).astype('timedelta64[Y]')

# extract the time of day in 24 hour format
df_data['time'] = df_data['Date'].dt.strftime('%H:%M:%S')

# create a Day of week column
df_data['Day of week'] = df_data['Date'].dt.day_name()

#reorder
df_data = df_data.reindex(columns=['Tweet', 'Date', 'time', 'Day of week', 'Cashtags', 'Hashtags', 'Language', 'Location', 'Mentioned_users', 'Followers', 'Following', 'User_created_date', 'Listed_count', 'Favourite_count', 'Tweet_count', 'Verified', 'Average_favourite_count', 'account_age', 'Likes', 'Comments', 'Retweets', 'Views'])
print(df_data.dtypes)
df_data.shape

<ipython-input-113-9b6a81c2cdf8>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_data['Tweet'] = df_data['Tweet'].astype('string')
<ipython-input-113-9b6a81c2cdf8>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_data[column_item_df_data] = df_data[column_item_df_data].fillna('null')
<ipython-input-113-9b6a81c2cdf8>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_data[column_item_df_data] = df_data[column_item_df_data].astype('string')
<ipython-input-113-9b6a81c2cdf8>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_data['Mentioned_users'] = df_data['Mentioned_users'].replace(['', ' '], np.nan)
<ipython-input-113-9b6a81c2cdf8>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_data['Mentioned_users'] = df_data['Mentioned_users'].notnull().astype(bool)
<ipython-input-113-9b6a81c2cdf8>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_data['Views'] = pd.to_numeric(df_data['Views'], errors='coerce')

Tweet                              string
Date                       datetime64[ns]
time                               object
Day of week                        object
Cashtags                           string
Hashtags                           string
Language                           string
Location                             bool
Mentioned_users                      bool
Followers                         float64
Following                         float64
User_created_date          datetime64[ns]
Listed_count                      float64
Favourite_count                     int64
Tweet_count                       float64
Verified                             bool
Average_favourite_count           float64
account_age                       float64
Likes                              object
Comments                          float64
Retweets                          float64
Views                             float64
dtype: object

(98107, 22)

In [114]:
df_data.head()

,Tweet,Date,time,Day of week,Cashtags,Hashtags,Language,Location,Mentioned_users,Followers,...,Listed_count,Favourite_count,Tweet_count,Verified,Average_favourite_count,account_age,Likes,Comments,Retweets,Views
0,🚨[US] msi 4070ti MSI Gaming (MSI for 💵$909🚨 ...,2023-03-25 23:59:59,23:59:59,Saturday,null,"['4070ti', 'ad']",in,True,False,10431.0,...,81.0,23,838077.0,True,0.000027,2.0,0,0.0,0.0,7.0
1,🚨[US] msi 4070ti MSI Gaming GeFo for 💵$869🚨 ...,2023-03-25 23:59:59,23:59:59,Saturday,null,"['4070ti', 'ad']",in,True,False,10431.0,...,81.0,23,838077.0,True,0.000027,2.0,0,0.0,0.0,8.0
2,🚨[US] asus 4070ti ASUS TUF Gaming for 💵$849🚨 ...,2023-03-25 23:59:59,23:59:59,Saturday,null,"['4070ti', 'ad']",en,True,False,10431.0,...,81.0,23,838077.0,True,0.000027,2.0,0,0.0,0.0,10.0
3,🚨[US] asus 4090 ASUS ROG Strix for 💵$2009🚨 ...,2023-03-25 23:59:59,23:59:59,Saturday,null,['ad'],en,True,False,10431.0,...,81.0,23,838077.0,True,0.000027,2.0,0,0.0,0.0,11.0
4,🚨[US] msi 4070ti MSI Gaming GeFo for 💵$909🚨 ...,2023-03-25 23:59:59,23:59:59,Saturday,null,"['4070ti', 'ad']",in,True,False,10431.0,...,81.0,23,838077.0,True,0.000027,2.0,0,0.0,0.0,8.0

#my_data_sea

In [115]:
def bad_line(x):
    print(x)
    return None

df_sea = pd.read_csv('/content/drive/Othercomputers/My Laptop (1)/year4/final_project/data_science/data_set/my_data_df_sea.csv',  on_bad_lines=bad_line, engine='python')
# drop column 
df_sea = df_sea.drop(columns=['Tweet_id','Cordinates','Place','User'])
df_sea.dtypes

Date                  object
Tweet                 object
Cashtags             float64
Hashtags              object
Language              object
Likes                  int64
Comments               int64
Retweets               int64
Mentioned_users       object
Views                float64
Followers              int64
Following              int64
User_created_date     object
Listed_count           int64
Favourite_count        int64
Location              object
Tweet_count            int64
Verified                bool
dtype: object

In [116]:
# drop empty and non-date values in the 'date' column
df_sea['Date'] = pd.to_datetime(df_sea['Date'], errors='coerce').dt.tz_localize(None)
df_sea = df_sea.dropna(subset=['Date'])
df_sea['Tweet'] = df_sea['Tweet'].astype('string')
column_list_df_sea = ['Hashtags','Cashtags','Language'] 

# replace None and NaN with null in column 'Cashtags'
for column_item_df_sea in column_list_df_sea:
  df_sea[column_item_df_sea] = df_sea[column_item_df_sea].fillna('null')
  df_sea[column_item_df_sea] = df_sea[column_item_df_sea].astype('string')

drop_list_df_sea = ['Likes','Comments','Retweets','Views']
for drop_item_df_sea in drop_list_df_sea:
  df_sea = df_sea.dropna(subset=[drop_item_df_sea])

# replace empty strings and whitespace with NaN
df_sea['Mentioned_users'] = df_sea['Mentioned_users'].replace(['', ' '], np.nan)

# convert to bool
df_sea['Mentioned_users'] = df_sea['Mentioned_users'].notnull().astype(bool)

# convert column 'Views' to numeric data type
df_sea['Views'] = pd.to_numeric(df_sea['Views'], errors='coerce')
df_sea['User_created_date'] = pd.to_datetime(df_sea['User_created_date'], errors='coerce').dt.tz_localize(None)
df_sea['Favourite_count'] = pd.to_numeric(df_sea['Favourite_count'], errors='coerce')

# replace empty strings and whitespace with NaN
df_sea['Location'] = df_sea['Location'].replace(['', ' '], np.nan)

# convert to bool
df_sea['Location'] = df_sea['Location'].notnull().astype(bool)
df_sea['Verified'] = df_sea['Verified'].notnull().astype(bool)
df_sea['Average_favourite_count'] = df_sea['Favourite_count'] / df_sea['Tweet_count']
# calculate account age in years
current_date = dt.datetime.now()
df_sea['account_age'] = (current_date - df_sea['User_created_date']).astype('timedelta64[Y]')

# extract the time of day in 24 hour format
df_sea['time'] = df_sea['Date'].dt.strftime('%H:%M:%S')

# create a Day of week column
df_sea['Day of week'] = df_sea['Date'].dt.day_name()

#reorder
df_sea = df_sea.reindex(columns=['Tweet', 'Date', 'time', 'Day of week', 'Cashtags', 'Hashtags', 'Language', 'Location', 'Mentioned_users', 'Followers', 'Following', 'User_created_date', 'Listed_count', 'Favourite_count', 'Tweet_count', 'Verified', 'Average_favourite_count', 'account_age', 'Likes', 'Comments', 'Retweets', 'Views'])
print(df_sea.dtypes)
df_sea.shape

Tweet                              string
Date                       datetime64[ns]
time                               object
Day of week                        object
Cashtags                           string
Hashtags                           string
Language                           string
Location                             bool
Mentioned_users                      bool
Followers                           int64
Following                           int64
User_created_date          datetime64[ns]
Listed_count                        int64
Favourite_count                     int64
Tweet_count                         int64
Verified                             bool
Average_favourite_count           float64
account_age                       float64
Likes                               int64
Comments                            int64
Retweets                            int64
Views                             float64
dtype: object

(9882, 22)

#my_data_dollar

In [117]:
def bad_line(x):
    print(x)
    return None

df_dollar = pd.read_csv('/content/drive/Othercomputers/My Laptop (1)/year4/final_project/data_science/data_set/my_data_dollar.csv',  on_bad_lines=bad_line, engine='python')
# drop column 
df_dollar = df_dollar.drop(columns=['Tweet_id','Cordinates','Place','User'])
df_dollar.dtypes

Date                  object
Tweet                 object
Cashtags              object
Hashtags              object
Language              object
Likes                  int64
Comments               int64
Retweets               int64
Mentioned_users       object
Views                float64
Followers              int64
Following              int64
User_created_date     object
Listed_count           int64
Favourite_count        int64
Location              object
Tweet_count            int64
Verified                bool
dtype: object

In [118]:
# drop empty and non-date values in the 'date' column
df_dollar['Date'] = pd.to_datetime(df_dollar['Date'], errors='coerce').dt.tz_localize(None)
df_dollar = df_dollar.dropna(subset=['Date'])
df_dollar['Tweet'] = df_dollar['Tweet'].astype('string')
column_list_df_dollar = ['Hashtags','Cashtags','Language'] 

# replace None and NaN with null in column 'Cashtags'
for column_item_df_dollar in column_list_df_dollar:
  df_dollar[column_item_df_dollar] = df_dollar[column_item_df_dollar].fillna('null')
  df_dollar[column_item_df_dollar] = df_dollar[column_item_df_dollar].astype('string')

drop_list_df_dollar = ['Likes','Comments','Retweets','Views']
for drop_item_df_dollar in drop_list_df_dollar:
  df_dollar = df_dollar.dropna(subset=[drop_item_df_dollar])

# replace empty strings and whitespace with NaN
df_dollar['Mentioned_users'] = df_dollar['Mentioned_users'].replace(['', ' '], np.nan)

# convert to bool
df_dollar['Mentioned_users'] = df_dollar['Mentioned_users'].notnull().astype(bool)

# convert column 'Views' to numeric data type
df_dollar['Views'] = pd.to_numeric(df_dollar['Views'], errors='coerce')
df_dollar['User_created_date'] = pd.to_datetime(df_dollar['User_created_date'], errors='coerce').dt.tz_localize(None)
df_dollar['Favourite_count'] = pd.to_numeric(df_dollar['Favourite_count'], errors='coerce')

# replace empty strings and whitespace with NaN
df_dollar['Location'] = df_dollar['Location'].replace(['', ' '], np.nan)

# convert to bool
df_dollar['Location'] = df_dollar['Location'].notnull().astype(bool)
df_dollar['Verified'] = df_dollar['Verified'].notnull().astype(bool)
df_dollar['Average_favourite_count'] = df_dollar['Favourite_count'] / df_dollar['Tweet_count']
# calculate account age in years
current_date = dt.datetime.now()
df_dollar['account_age'] = (current_date - df_dollar['User_created_date']).astype('timedelta64[Y]')

# extract the time of day in 24 hour format
df_dollar['time'] = df_dollar['Date'].dt.strftime('%H:%M:%S')

# create a Day of week column
df_dollar['Day of week'] = df_dollar['Date'].dt.day_name()

#reorder
df_dollar = df_dollar.reindex(columns=['Tweet', 'Date', 'time', 'Day of week', 'Cashtags', 'Hashtags', 'Language', 'Location', 'Mentioned_users', 'Followers', 'Following', 'User_created_date', 'Listed_count', 'Favourite_count', 'Tweet_count', 'Verified', 'Average_favourite_count', 'account_age', 'Likes', 'Comments', 'Retweets', 'Views'])
print(df_dollar.dtypes)
df_dollar.shape

Tweet                              string
Date                       datetime64[ns]
time                               object
Day of week                        object
Cashtags                           string
Hashtags                           string
Language                           string
Location                             bool
Mentioned_users                      bool
Followers                           int64
Following                           int64
User_created_date          datetime64[ns]
Listed_count                        int64
Favourite_count                     int64
Tweet_count                         int64
Verified                             bool
Average_favourite_count           float64
account_age                       float64
Likes                               int64
Comments                            int64
Retweets                            int64
Views                             float64
dtype: object

(9878, 22)

#my_data_earth

In [119]:
def bad_line(x):
    print(x)
    return None

df_earth = pd.read_csv('/content/drive/Othercomputers/My Laptop (1)/year4/final_project/data_science/data_set/my_data_earth.csv',  on_bad_lines=bad_line, engine='python')
# drop column 
df_earth = df_earth.drop(columns=['Tweet_id','Cordinates','Place','User'])
df_earth.dtypes

Date                  object
Tweet                 object
Cashtags              object
Hashtags              object
Language              object
Likes                float64
Comments             float64
Retweets             float64
Mentioned_users       object
Views                 object
Followers            float64
Following            float64
User_created_date     object
Listed_count         float64
Favourite_count       object
Location              object
Tweet_count          float64
Verified              object
dtype: object

In [120]:
# drop empty and non-date values in the 'date' column
df_earth['Date'] = pd.to_datetime(df_earth['Date'], errors='coerce').dt.tz_localize(None)
df_earth = df_earth.dropna(subset=['Date'])
df_earth['Tweet'] = df_earth['Tweet'].astype('string')
column_list_df_earth = ['Hashtags','Cashtags','Language'] 

# replace None and NaN with null in column 'Cashtags'
for column_item_df_earth in column_list_df_earth:
  df_earth[column_item_df_earth] = df_earth[column_item_df_earth].fillna('null')
  df_earth[column_item_df_earth] = df_earth[column_item_df_earth].astype('string')

drop_list_df_earth = ['Likes','Comments','Retweets','Views']
for drop_item_df_earth in drop_list_df_earth:
  df_earth = df_earth.dropna(subset=[drop_item_df_earth])

# replace empty strings and whitespace with NaN
df_earth['Mentioned_users'] = df_earth['Mentioned_users'].replace(['', ' '], np.nan)

# convert to bool
df_earth['Mentioned_users'] = df_earth['Mentioned_users'].notnull().astype(bool)

# convert column 'Views' to numeric data type
df_earth['Views'] = pd.to_numeric(df_earth['Views'], errors='coerce')
df_earth['User_created_date'] = pd.to_datetime(df_earth['User_created_date'], errors='coerce').dt.tz_localize(None)
df_earth['Favourite_count'] = pd.to_numeric(df_earth['Favourite_count'], errors='coerce')

# replace empty strings and whitespace with NaN
df_earth['Location'] = df_earth['Location'].replace(['', ' '], np.nan)

# convert to bool
df_earth['Location'] = df_earth['Location'].notnull().astype(bool)
df_earth['Verified'] = df_earth['Verified'].notnull().astype(bool)
df_earth['Average_favourite_count'] = df_earth['Favourite_count'] / df_earth['Tweet_count']
# calculate account age in years
current_date = dt.datetime.now()
df_earth['account_age'] = (current_date - df_earth['User_created_date']).astype('timedelta64[Y]')

# extract the time of day in 24 hour format
df_earth['time'] = df_earth['Date'].dt.strftime('%H:%M:%S')

# create a Day of week column
df_earth['Day of week'] = df_earth['Date'].dt.day_name()

#reorder
df_earth = df_earth.reindex(columns=['Tweet', 'Date', 'time', 'Day of week', 'Cashtags', 'Hashtags', 'Language', 'Location', 'Mentioned_users', 'Followers', 'Following', 'User_created_date', 'Listed_count', 'Favourite_count', 'Tweet_count', 'Verified', 'Average_favourite_count', 'account_age', 'Likes', 'Comments', 'Retweets', 'Views'])
print(df_earth.dtypes)
df_earth.shape

<ipython-input-120-44a8f0f49169>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_earth['Tweet'] = df_earth['Tweet'].astype('string')
<ipython-input-120-44a8f0f49169>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_earth[column_item_df_earth] = df_earth[column_item_df_earth].fillna('null')
<ipython-input-120-44a8f0f49169>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_earth[column_item_df_earth] = df_earth[column_item_df_earth].astype('string')

Tweet                              string
Date                       datetime64[ns]
time                               object
Day of week                        object
Cashtags                           string
Hashtags                           string
Language                           string
Location                             bool
Mentioned_users                      bool
Followers                         float64
Following                         float64
User_created_date          datetime64[ns]
Listed_count                      float64
Favourite_count                     int64
Tweet_count                       float64
Verified                             bool
Average_favourite_count           float64
account_age                       float64
Likes                             float64
Comments                          float64
Retweets                          float64
Views                             float64
dtype: object

(49245, 22)

#my_data_easter

In [121]:
def bad_line(x):
    print(x)
    return None

df_easter = pd.read_csv('/content/drive/Othercomputers/My Laptop (1)/year4/final_project/data_science/data_set/my_data_easter.csv',  on_bad_lines=bad_line, engine='python')
# drop column 
df_easter = df_easter.drop(columns=['Tweet_id','Cordinates','Place','User'])
df_easter.dtypes

Date                  object
Tweet                 object
Cashtags              object
Hashtags              object
Language              object
Likes                float64
Comments             float64
Retweets             float64
Mentioned_users       object
Views                 object
Followers            float64
Following            float64
User_created_date     object
Listed_count         float64
Favourite_count       object
Location              object
Tweet_count          float64
Verified              object
dtype: object

In [122]:
# drop empty and non-date values in the 'date' column
df_easter['Date'] = pd.to_datetime(df_easter['Date'], errors='coerce').dt.tz_localize(None)
df_easter = df_easter.dropna(subset=['Date'])
df_easter['Tweet'] = df_easter['Tweet'].astype('string')
column_list_df_easter = ['Hashtags','Cashtags','Language'] 

# replace None and NaN with null in column 'Cashtags'
for column_item_df_easter in column_list_df_easter:
  df_easter[column_item_df_easter] = df_easter[column_item_df_easter].fillna('null')
  df_easter[column_item_df_easter] = df_easter[column_item_df_easter].astype('string')

drop_list_df_easter = ['Likes','Comments','Retweets','Views']
for drop_item_df_easter in drop_list_df_easter:
  df_easter = df_easter.dropna(subset=[drop_item_df_easter])

# replace empty strings and whitespace with NaN
df_easter['Mentioned_users'] = df_easter['Mentioned_users'].replace(['', ' '], np.nan)

# convert to bool
df_easter['Mentioned_users'] = df_easter['Mentioned_users'].notnull().astype(bool)

# convert column 'Views' to numeric data type
df_easter['Views'] = pd.to_numeric(df_easter['Views'], errors='coerce')
df_easter['User_created_date'] = pd.to_datetime(df_easter['User_created_date'], errors='coerce').dt.tz_localize(None)
df_easter['Favourite_count'] = pd.to_numeric(df_easter['Favourite_count'], errors='coerce')

# replace empty strings and whitespace with NaN
df_easter['Location'] = df_easter['Location'].replace(['', ' '], np.nan)

# convert to bool
df_easter['Location'] = df_easter['Location'].notnull().astype(bool)
df_easter['Verified'] = df_easter['Verified'].notnull().astype(bool)
df_easter['Average_favourite_count'] = df_easter['Favourite_count'] / df_easter['Tweet_count']
# calculate account age in years
current_date = dt.datetime.now()
df_easter['account_age'] = (current_date - df_easter['User_created_date']).astype('timedelta64[Y]')

# extract the time of day in 24 hour format
df_easter['time'] = df_easter['Date'].dt.strftime('%H:%M:%S')

# create a Day of week column
df_easter['Day of week'] = df_easter['Date'].dt.day_name()

#reorder
df_easter = df_easter.reindex(columns=['Tweet', 'Date', 'time', 'Day of week', 'Cashtags', 'Hashtags', 'Language', 'Location', 'Mentioned_users', 'Followers', 'Following', 'User_created_date', 'Listed_count', 'Favourite_count', 'Tweet_count', 'Verified', 'Average_favourite_count', 'account_age', 'Likes', 'Comments', 'Retweets', 'Views'])
print(df_easter.dtypes)
df_easter.shape

<ipython-input-122-5caf1b358f1e>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_easter['Tweet'] = df_easter['Tweet'].astype('string')
<ipython-input-122-5caf1b358f1e>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_easter[column_item_df_easter] = df_easter[column_item_df_easter].fillna('null')
<ipython-input-122-5caf1b358f1e>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_easter[column_item_df_easter] = df_easter[column_item_df_easter].astype('string')

Tweet                              string
Date                       datetime64[ns]
time                               object
Day of week                        object
Cashtags                           string
Hashtags                           string
Language                           string
Location                             bool
Mentioned_users                      bool
Followers                         float64
Following                         float64
User_created_date          datetime64[ns]
Listed_count                      float64
Favourite_count                     int64
Tweet_count                       float64
Verified                             bool
Average_favourite_count           float64
account_age                       float64
Likes                             float64
Comments                          float64
Retweets                          float64
Views                             float64
dtype: object

(9816, 22)

#my_data_fitness

In [123]:
def bad_line(x):
    print(x)
    return None

df_fitness = pd.read_csv('/content/drive/Othercomputers/My Laptop (1)/year4/final_project/data_science/data_set/my_data_fitness.csv',  on_bad_lines=bad_line, engine='python')
# drop column 
df_fitness = df_fitness.drop(columns=['Tweet_id','Cordinates','Place','User'])
df_fitness.dtypes

Date                  object
Tweet                 object
Cashtags              object
Hashtags              object
Language              object
Likes                  int64
Comments               int64
Retweets               int64
Mentioned_users       object
Views                float64
Followers              int64
Following              int64
User_created_date     object
Listed_count           int64
Favourite_count        int64
Location              object
Tweet_count            int64
Verified                bool
dtype: object

In [124]:
# drop empty and non-date values in the 'date' column
df_fitness['Date'] = pd.to_datetime(df_fitness['Date'], errors='coerce').dt.tz_localize(None)
df_fitness = df_fitness.dropna(subset=['Date'])
df_fitness['Tweet'] = df_fitness['Tweet'].astype('string')
column_list_df_fitness = ['Hashtags','Cashtags','Language'] 

# replace None and NaN with null in column 'Cashtags'
for column_item_df_fitness in column_list_df_fitness:
  df_fitness[column_item_df_fitness] = df_fitness[column_item_df_fitness].fillna('null')
  df_fitness[column_item_df_fitness] = df_fitness[column_item_df_fitness].astype('string')

drop_list_df_fitness = ['Likes','Comments','Retweets','Views']
for drop_item_df_fitness in drop_list_df_fitness:
  df_fitness = df_fitness.dropna(subset=[drop_item_df_fitness])

# replace empty strings and whitespace with NaN
df_fitness['Mentioned_users'] = df_fitness['Mentioned_users'].replace(['', ' '], np.nan)

# convert to bool
df_fitness['Mentioned_users'] = df_fitness['Mentioned_users'].notnull().astype(bool)

# convert column 'Views' to numeric data type
df_fitness['Views'] = pd.to_numeric(df_fitness['Views'], errors='coerce')
df_fitness['User_created_date'] = pd.to_datetime(df_fitness['User_created_date'], errors='coerce').dt.tz_localize(None)
df_fitness['Favourite_count'] = pd.to_numeric(df_fitness['Favourite_count'], errors='coerce')

# replace empty strings and whitespace with NaN
df_fitness['Location'] = df_fitness['Location'].replace(['', ' '], np.nan)

# convert to bool
df_fitness['Location'] = df_fitness['Location'].notnull().astype(bool)
df_fitness['Verified'] = df_fitness['Verified'].notnull().astype(bool)
df_fitness['Average_favourite_count'] = df_fitness['Favourite_count'] / df_fitness['Tweet_count']
# calculate account age in years
current_date = dt.datetime.now()
df_fitness['account_age'] = (current_date - df_fitness['User_created_date']).astype('timedelta64[Y]')

# extract the time of day in 24 hour format
df_fitness['time'] = df_fitness['Date'].dt.strftime('%H:%M:%S')

# create a Day of week column
df_fitness['Day of week'] = df_fitness['Date'].dt.day_name()

#reorder
df_fitness = df_fitness.reindex(columns=['Tweet', 'Date', 'time', 'Day of week', 'Cashtags', 'Hashtags', 'Language', 'Location', 'Mentioned_users', 'Followers', 'Following', 'User_created_date', 'Listed_count', 'Favourite_count', 'Tweet_count', 'Verified', 'Average_favourite_count', 'account_age', 'Likes', 'Comments', 'Retweets', 'Views'])
print(df_fitness.dtypes)
df_fitness.shape

Tweet                              string
Date                       datetime64[ns]
time                               object
Day of week                        object
Cashtags                           string
Hashtags                           string
Language                           string
Location                             bool
Mentioned_users                      bool
Followers                           int64
Following                           int64
User_created_date          datetime64[ns]
Listed_count                        int64
Favourite_count                     int64
Tweet_count                         int64
Verified                             bool
Average_favourite_count           float64
account_age                       float64
Likes                               int64
Comments                            int64
Retweets                            int64
Views                             float64
dtype: object

(9872, 22)

#Combine 10 dataframes

In [125]:
# combine the dataframes vertically using concat
combined_df_10 = pd.concat([df_apple, df_bank, df_car, df_company, df_data, df_sea, df_dollar, df_earth, df_easter, df_fitness])

In [126]:
combined_df_10.shape

(491256, 22)

In [127]:
# save the DataFrame to a CSV file
combined_df_10.to_csv('my_data_first_ten.csv', index=False)

#my_data_football

In [128]:
def bad_line(x):
    print(x)
    return None

df_football = pd.read_csv('/content/drive/Othercomputers/My Laptop (1)/year4/final_project/data_science/data_set/my_data_foorball.csv',  on_bad_lines=bad_line, engine='python')
# drop column 
df_football = df_football.drop(columns=['Tweet_id','Cordinates','Place','User'])
df_football.dtypes

Date                  object
Tweet                 object
Cashtags              object
Hashtags              object
Language              object
Likes                  int64
Comments               int64
Retweets               int64
Mentioned_users       object
Views                float64
Followers              int64
Following              int64
User_created_date     object
Listed_count           int64
Favourite_count        int64
Location              object
Tweet_count            int64
Verified                bool
dtype: object

In [129]:
# drop empty and non-date values in the 'date' column
df_football['Date'] = pd.to_datetime(df_football['Date'], errors='coerce').dt.tz_localize(None)
df_football = df_football.dropna(subset=['Date'])
df_football['Tweet'] = df_football['Tweet'].astype('string')
column_list_df_football = ['Hashtags','Cashtags','Language'] 

# replace None and NaN with null in column 'Cashtags'
for column_item_df_football in column_list_df_football:
  df_football[column_item_df_football] = df_football[column_item_df_football].fillna('null')
  df_football[column_item_df_football] = df_football[column_item_df_football].astype('string')

drop_list_df_football = ['Likes','Comments','Retweets','Views']
for drop_item_df_football in drop_list_df_football:
  df_football = df_football.dropna(subset=[drop_item_df_football])

# replace empty strings and whitespace with NaN
df_football['Mentioned_users'] = df_football['Mentioned_users'].replace(['', ' '], np.nan)

# convert to bool
df_football['Mentioned_users'] = df_football['Mentioned_users'].notnull().astype(bool)

# convert column 'Views' to numeric data type
df_football['Views'] = pd.to_numeric(df_football['Views'], errors='coerce')
df_football['User_created_date'] = pd.to_datetime(df_football['User_created_date'], errors='coerce').dt.tz_localize(None)
df_football['Favourite_count'] = pd.to_numeric(df_football['Favourite_count'], errors='coerce')

# replace empty strings and whitespace with NaN
df_football['Location'] = df_football['Location'].replace(['', ' '], np.nan)

# convert to bool
df_football['Location'] = df_football['Location'].notnull().astype(bool)
df_football['Verified'] = df_football['Verified'].notnull().astype(bool)
df_football['Average_favourite_count'] = df_football['Favourite_count'] / df_football['Tweet_count']
# calculate account age in years
current_date = dt.datetime.now()
df_football['account_age'] = (current_date - df_football['User_created_date']).astype('timedelta64[Y]')

# extract the time of day in 24 hour format
df_football['time'] = df_football['Date'].dt.strftime('%H:%M:%S')

# create a Day of week column
df_football['Day of week'] = df_football['Date'].dt.day_name()

#reorder
df_football = df_football.reindex(columns=['Tweet', 'Date', 'time', 'Day of week', 'Cashtags', 'Hashtags', 'Language', 'Location', 'Mentioned_users', 'Followers', 'Following', 'User_created_date', 'Listed_count', 'Favourite_count', 'Tweet_count', 'Verified', 'Average_favourite_count', 'account_age', 'Likes', 'Comments', 'Retweets', 'Views'])
print(df_football.dtypes)
df_football.shape

Tweet                              string
Date                       datetime64[ns]
time                               object
Day of week                        object
Cashtags                           string
Hashtags                           string
Language                           string
Location                             bool
Mentioned_users                      bool
Followers                           int64
Following                           int64
User_created_date          datetime64[ns]
Listed_count                        int64
Favourite_count                     int64
Tweet_count                         int64
Verified                             bool
Average_favourite_count           float64
account_age                       float64
Likes                               int64
Comments                            int64
Retweets                            int64
Views                             float64
dtype: object

(9831, 22)

#my_data_game

In [130]:
def bad_line(x):
    print(x)
    return None

df_game = pd.read_csv('/content/drive/Othercomputers/My Laptop (1)/year4/final_project/data_science/data_set/my_data_game.csv',  on_bad_lines=bad_line, engine='python')
# drop column 
df_game = df_game.drop(columns=['Tweet_id','Cordinates','Place','User'])
df_game.dtypes

Date                  object
Tweet                 object
Cashtags              object
Hashtags              object
Language              object
Likes                  int64
Comments               int64
Retweets               int64
Mentioned_users       object
Views                float64
Followers              int64
Following              int64
User_created_date     object
Listed_count           int64
Favourite_count        int64
Location              object
Tweet_count            int64
Verified                bool
dtype: object

In [131]:
# drop empty and non-date values in the 'date' column
df_game['Date'] = pd.to_datetime(df_game['Date'], errors='coerce').dt.tz_localize(None)
df_game = df_game.dropna(subset=['Date'])
df_game['Tweet'] = df_game['Tweet'].astype('string')
column_list_df_game = ['Hashtags','Cashtags','Language'] 

# replace None and NaN with null in column 'Cashtags'
for column_item_df_game in column_list_df_game:
  df_game[column_item_df_game] = df_game[column_item_df_game].fillna('null')
  df_game[column_item_df_game] = df_game[column_item_df_game].astype('string')

drop_list_df_game = ['Likes','Comments','Retweets','Views']
for drop_item_df_game in drop_list_df_game:
  df_game = df_game.dropna(subset=[drop_item_df_game])

# replace empty strings and whitespace with NaN
df_game['Mentioned_users'] = df_game['Mentioned_users'].replace(['', ' '], np.nan)

# convert to bool
df_game['Mentioned_users'] = df_game['Mentioned_users'].notnull().astype(bool)

# convert column 'Views' to numeric data type
df_game['Views'] = pd.to_numeric(df_game['Views'], errors='coerce')
df_game['User_created_date'] = pd.to_datetime(df_game['User_created_date'], errors='coerce').dt.tz_localize(None)
df_game['Favourite_count'] = pd.to_numeric(df_game['Favourite_count'], errors='coerce')

# replace empty strings and whitespace with NaN
df_game['Location'] = df_game['Location'].replace(['', ' '], np.nan)

# convert to bool
df_game['Location'] = df_game['Location'].notnull().astype(bool)
df_game['Verified'] = df_game['Verified'].notnull().astype(bool)
df_game['Average_favourite_count'] = df_game['Favourite_count'] / df_game['Tweet_count']
# calculate account age in years
current_date = dt.datetime.now()
df_game['account_age'] = (current_date - df_game['User_created_date']).astype('timedelta64[Y]')

# extract the time of day in 24 hour format
df_game['time'] = df_game['Date'].dt.strftime('%H:%M:%S')

# create a Day of week column
df_game['Day of week'] = df_game['Date'].dt.day_name()

#reorder
df_game = df_game.reindex(columns=['Tweet', 'Date', 'time', 'Day of week', 'Cashtags', 'Hashtags', 'Language', 'Location', 'Mentioned_users', 'Followers', 'Following', 'User_created_date', 'Listed_count', 'Favourite_count', 'Tweet_count', 'Verified', 'Average_favourite_count', 'account_age', 'Likes', 'Comments', 'Retweets', 'Views'])
print(df_game.dtypes)
df_game.shape

Tweet                              string
Date                       datetime64[ns]
time                               object
Day of week                        object
Cashtags                           string
Hashtags                           string
Language                           string
Location                             bool
Mentioned_users                      bool
Followers                           int64
Following                           int64
User_created_date          datetime64[ns]
Listed_count                        int64
Favourite_count                     int64
Tweet_count                         int64
Verified                             bool
Average_favourite_count           float64
account_age                       float64
Likes                               int64
Comments                            int64
Retweets                            int64
Views                             float64
dtype: object

(9750, 22)

#my_data_influencer

In [132]:
def bad_line(x):
    print(x)
    return None

df_influencer = pd.read_csv('/content/drive/Othercomputers/My Laptop (1)/year4/final_project/data_science/data_set/my_data_influencer.csv',  on_bad_lines=bad_line, engine='python')
# drop column 
df_influencer = df_influencer.drop(columns=['Tweet_id','Cordinates','Place','User'])
df_influencer.dtypes

Date                  object
Tweet                 object
Cashtags              object
Hashtags              object
Language              object
Likes                 object
Comments             float64
Retweets             float64
Mentioned_users       object
Views                 object
Followers            float64
Following            float64
User_created_date     object
Listed_count         float64
Favourite_count       object
Location              object
Tweet_count          float64
Verified              object
dtype: object

In [133]:
# drop empty and non-date values in the 'date' column
df_influencer['Date'] = pd.to_datetime(df_influencer['Date'], errors='coerce').dt.tz_localize(None)
df_influencer = df_influencer.dropna(subset=['Date'])
df_influencer['Tweet'] = df_influencer['Tweet'].astype('string')
column_list_df_influencer = ['Hashtags','Cashtags','Language'] 

# replace None and NaN with null in column 'Cashtags'
for column_item_df_influencer in column_list_df_influencer:
  df_influencer[column_item_df_influencer] = df_influencer[column_item_df_influencer].fillna('null')
  df_influencer[column_item_df_influencer] = df_influencer[column_item_df_influencer].astype('string')

drop_list_df_influencer = ['Likes','Comments','Retweets','Views']
for drop_item_df_influencer in drop_list_df_influencer:
  df_influencer = df_influencer.dropna(subset=[drop_item_df_influencer])

# replace empty strings and whitespace with NaN
df_influencer['Mentioned_users'] = df_influencer['Mentioned_users'].replace(['', ' '], np.nan)

# convert to bool
df_influencer['Mentioned_users'] = df_influencer['Mentioned_users'].notnull().astype(bool)

# convert column 'Views' to numeric data type
df_influencer['Views'] = pd.to_numeric(df_influencer['Views'], errors='coerce')
df_influencer['User_created_date'] = pd.to_datetime(df_influencer['User_created_date'], errors='coerce').dt.tz_localize(None)
df_influencer['Favourite_count'] = pd.to_numeric(df_influencer['Favourite_count'], errors='coerce')

# replace empty strings and whitespace with NaN
df_influencer['Location'] = df_influencer['Location'].replace(['', ' '], np.nan)

# convert to bool
df_influencer['Location'] = df_influencer['Location'].notnull().astype(bool)
df_influencer['Verified'] = df_influencer['Verified'].notnull().astype(bool)
df_influencer['Average_favourite_count'] = df_influencer['Favourite_count'] / df_influencer['Tweet_count']
# calculate account age in years
current_date = dt.datetime.now()
df_influencer['account_age'] = (current_date - df_influencer['User_created_date']).astype('timedelta64[Y]')

# extract the time of day in 24 hour format
df_influencer['time'] = df_influencer['Date'].dt.strftime('%H:%M:%S')

# create a Day of week column
df_influencer['Day of week'] = df_influencer['Date'].dt.day_name()

#reorder
df_influencer = df_influencer.reindex(columns=['Tweet', 'Date', 'time', 'Day of week', 'Cashtags', 'Hashtags', 'Language', 'Location', 'Mentioned_users', 'Followers', 'Following', 'User_created_date', 'Listed_count', 'Favourite_count', 'Tweet_count', 'Verified', 'Average_favourite_count', 'account_age', 'Likes', 'Comments', 'Retweets', 'Views'])
print(df_influencer.dtypes)
df_influencer.shape

<ipython-input-133-99480586a3e9>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_influencer['Tweet'] = df_influencer['Tweet'].astype('string')
<ipython-input-133-99480586a3e9>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_influencer[column_item_df_influencer] = df_influencer[column_item_df_influencer].fillna('null')
<ipython-input-133-99480586a3e9>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_influencer['Mentioned_users'] = df_influencer['Mentioned_users'].replace(['', ' '], np.nan)
<ipython-input-133-99480586a3e9>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_influencer['Mentioned_users'] = df_influencer['Mentioned_users'].notnull().astype(bool)
<ipython-input-133-99480586a3e9>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_influencer['Views'] = pd.to_numeric(df_influencer['Views'], errors='coerce')
<ipython-input-133-99480586a3e9>:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_influencer['User_created_date'] = pd.to_datetime(df_influencer['User_created_date'], errors='coerce').dt.tz_localize(None)

Tweet                              string
Date                       datetime64[ns]
time                               object
Day of week                        object
Cashtags                           string
Hashtags                           string
Language                           string
Location                             bool
Mentioned_users                      bool
Followers                         float64
Following                         float64
User_created_date          datetime64[ns]
Listed_count                      float64
Favourite_count                     int64
Tweet_count                       float64
Verified                             bool
Average_favourite_count           float64
account_age                       float64
Likes                              object
Comments                          float64
Retweets                          float64
Views                             float64
dtype: object

(51609, 22)

#my_data_island

In [134]:
def bad_line(x):
    print(x)
    return None

df_island = pd.read_csv('/content/drive/Othercomputers/My Laptop (1)/year4/final_project/data_science/data_set/my_data_island.csv',  on_bad_lines=bad_line, engine='python')
# drop column 
df_island = df_island.drop(columns=['Tweet_id','Cordinates','Place','User'])
print(df_island.dtypes)
df_island.shape

Date                  object
Tweet                 object
Cashtags              object
Hashtags              object
Language              object
Likes                  int64
Comments               int64
Retweets               int64
Mentioned_users       object
Views                float64
Followers              int64
Following              int64
User_created_date     object
Listed_count           int64
Favourite_count        int64
Location              object
Tweet_count            int64
Verified                bool
dtype: object

(10000, 18)

In [135]:
# drop empty and non-date values in the 'date' column
df_island['Date'] = pd.to_datetime(df_island['Date'], errors='coerce').dt.tz_localize(None)
df_island = df_island.dropna(subset=['Date'])
df_island['Tweet'] = df_island['Tweet'].astype('string')
column_list_df_island = ['Hashtags','Cashtags','Language'] 

# replace None and NaN with null in column 'Cashtags'
for column_item_df_island in column_list_df_island:
  df_island[column_item_df_island] = df_island[column_item_df_island].fillna('null')
  df_island[column_item_df_island] = df_island[column_item_df_island].astype('string')

drop_list_df_island = ['Likes','Comments','Retweets','Views']
for drop_item_df_island in drop_list_df_island:
  df_island = df_island.dropna(subset=[drop_item_df_island])

# replace empty strings and whitespace with NaN
df_island['Mentioned_users'] = df_island['Mentioned_users'].replace(['', ' '], np.nan)

# convert to bool
df_island['Mentioned_users'] = df_island['Mentioned_users'].notnull().astype(bool)

# convert column 'Views' to numeric data type
df_island['Views'] = pd.to_numeric(df_island['Views'], errors='coerce')
df_island['User_created_date'] = pd.to_datetime(df_island['User_created_date'], errors='coerce').dt.tz_localize(None)
df_island['Favourite_count'] = pd.to_numeric(df_island['Favourite_count'], errors='coerce')

# replace empty strings and whitespace with NaN
df_island['Location'] = df_island['Location'].replace(['', ' '], np.nan)

# convert to bool
df_island['Location'] = df_island['Location'].notnull().astype(bool)
df_island['Verified'] = df_island['Verified'].notnull().astype(bool)
df_island['Average_favourite_count'] = df_island['Favourite_count'] / df_island['Tweet_count']
# calculate account age in years
current_date = dt.datetime.now()
df_island['account_age'] = (current_date - df_island['User_created_date']).astype('timedelta64[Y]')

# extract the time of day in 24 hour format
df_island['time'] = df_island['Date'].dt.strftime('%H:%M:%S')

# create a Day of week column
df_island['Day of week'] = df_island['Date'].dt.day_name()

#reorder
df_island = df_island.reindex(columns=['Tweet', 'Date', 'time', 'Day of week', 'Cashtags', 'Hashtags', 'Language', 'Location', 'Mentioned_users', 'Followers', 'Following', 'User_created_date', 'Listed_count', 'Favourite_count', 'Tweet_count', 'Verified', 'Average_favourite_count', 'account_age', 'Likes', 'Comments', 'Retweets', 'Views'])
print(df_island.dtypes)
df_island.shape

Tweet                              string
Date                       datetime64[ns]
time                               object
Day of week                        object
Cashtags                           string
Hashtags                           string
Language                           string
Location                             bool
Mentioned_users                      bool
Followers                           int64
Following                           int64
User_created_date          datetime64[ns]
Listed_count                        int64
Favourite_count                     int64
Tweet_count                         int64
Verified                             bool
Average_favourite_count           float64
account_age                       float64
Likes                               int64
Comments                            int64
Retweets                            int64
Views                             float64
dtype: object

(9868, 22)

#my_data_law

In [136]:
def bad_line(x):
    print(x)
    return None

df_law = pd.read_csv('/content/drive/Othercomputers/My Laptop (1)/year4/final_project/data_science/data_set/my_data_law.csv',  on_bad_lines=bad_line, engine='python')
# drop column 
df_law = df_law.drop(columns=['Tweet_id','Cordinates','Place','User'])
print(df_law.dtypes)
df_law.shape

Date                  object
Tweet                 object
Cashtags              object
Hashtags              object
Language              object
Likes                float64
Comments             float64
Retweets             float64
Mentioned_users       object
Views                 object
Followers            float64
Following            float64
User_created_date     object
Listed_count         float64
Favourite_count       object
Location              object
Tweet_count          float64
Verified              object
dtype: object

(50001, 18)

In [148]:
# drop empty and non-date values in the 'date' column
df_law['Date'] = pd.to_datetime(df_law['Date'], errors='coerce').dt.tz_localize(None)
df_law = df_law.dropna(subset=['Date'])
df_law['Tweet'] = df_law['Tweet'].astype('string')
column_list_df_law = ['Hashtags','Cashtags','Language'] 

# replace None and NaN with null in column 'Cashtags'
for column_item_df_law in column_list_df_law:
  df_law[column_item_df_law] = df_law[column_item_df_law].fillna('null')
  df_law[column_item_df_law] = df_law[column_item_df_law].astype('string')

drop_list_df_law = ['Likes','Comments','Retweets','Views']
for drop_item_df_law in drop_list_df_law:
  df_law = df_law.dropna(subset=[drop_item_df_law])

# replace empty strings and whitespace with NaN
df_law['Mentioned_users'] = df_law['Mentioned_users'].replace(['', ' '], np.nan)

# convert to bool
df_law['Mentioned_users'] = df_law['Mentioned_users'].notnull().astype(bool)

# convert column 'Views' to numeric data type
df_law['Views'] = pd.to_numeric(df_law['Views'], errors='coerce')
df_law['User_created_date'] = pd.to_datetime(df_law['User_created_date'], errors='coerce').dt.tz_localize(None)
df_law['Favourite_count'] = pd.to_numeric(df_law['Favourite_count'], errors='coerce')

# replace empty strings and whitespace with NaN
df_law['Location'] = df_law['Location'].replace(['', ' '], np.nan)

# convert to bool
df_law['Location'] = df_law['Location'].notnull().astype(bool)
df_law['Verified'] = df_law['Verified'].notnull().astype(bool)
df_law['Average_favourite_count'] = df_law['Favourite_count'] / df_law['Tweet_count']
# calculate account age in years
current_date = dt.datetime.now()
df_law['account_age'] = (current_date - df_law['User_created_date']).astype('timedelta64[Y]')

# extract the time of day in 24 hour format
df_law['time'] = df_law['Date'].dt.strftime('%H:%M:%S')

# create a Day of week column
df_law['Day of week'] = df_law['Date'].dt.day_name()

#reorder
df_law = df_law.reindex(columns=['Tweet', 'Date', 'time', 'Day of week', 'Cashtags', 'Hashtags', 'Language', 'Location', 'Mentioned_users', 'Followers', 'Following', 'User_created_date', 'Listed_count', 'Favourite_count', 'Tweet_count', 'Verified', 'Average_favourite_count', 'account_age', 'Likes', 'Comments', 'Retweets', 'Views'])
print(df_law.dtypes)
df_law.shape

Tweet                              string
Date                       datetime64[ns]
time                               object
Day of week                        object
Cashtags                           string
Hashtags                           string
Language                           string
Location                             bool
Mentioned_users                      bool
Followers                         float64
Following                         float64
User_created_date          datetime64[ns]
Listed_count                      float64
Favourite_count                     int64
Tweet_count                       float64
Verified                             bool
Average_favourite_count           float64
account_age                       float64
Likes                             float64
Comments                          float64
Retweets                          float64
Views                             float64
dtype: object

(49137, 22)

#my_data_love

In [150]:
def bad_line(x):
    print(x)
    return None

df_love = pd.read_csv('/content/drive/Othercomputers/My Laptop (1)/year4/final_project/data_science/data_set/my_data_love.csv',  on_bad_lines=bad_line, engine='python')
# drop column 
df_love = df_love.drop(columns=['Tweet_id','Cordinates','Place','User'])
print(df_love.dtypes)
df_love.shape

Date                  object
Tweet                 object
Cashtags              object
Hashtags              object
Language              object
Likes                float64
Comments             float64
Retweets             float64
Mentioned_users       object
Views                 object
Followers            float64
Following            float64
User_created_date     object
Listed_count         float64
Favourite_count       object
Location              object
Tweet_count          float64
Verified              object
dtype: object

(200011, 18)

In [151]:
# drop empty and non-date values in the 'date' column
df_love['Date'] = pd.to_datetime(df_love['Date'], errors='coerce').dt.tz_localize(None)
df_love = df_love.dropna(subset=['Date'])
df_love['Tweet'] = df_love['Tweet'].astype('string')
column_list_df_love = ['Hashtags','Cashtags','Language'] 

# replace None and NaN with null in column 'Cashtags'
for column_item_df_love in column_list_df_love:
  df_love[column_item_df_love] = df_love[column_item_df_love].fillna('null')
  df_love[column_item_df_love] = df_love[column_item_df_love].astype('string')

drop_list_df_love = ['Likes','Comments','Retweets','Views']
for drop_item_df_love in drop_list_df_love:
  df_love = df_love.dropna(subset=[drop_item_df_love])

# replace empty strings and whitespace with NaN
df_love['Mentioned_users'] = df_love['Mentioned_users'].replace(['', ' '], np.nan)

# convert to bool
df_love['Mentioned_users'] = df_love['Mentioned_users'].notnull().astype(bool)

# convert column 'Views' to numeric data type
df_love['Views'] = pd.to_numeric(df_love['Views'], errors='coerce')
df_love['User_created_date'] = pd.to_datetime(df_love['User_created_date'], errors='coerce').dt.tz_localize(None)
df_love['Favourite_count'] = pd.to_numeric(df_love['Favourite_count'], errors='coerce')

# replace empty strings and whitespace with NaN
df_love['Location'] = df_love['Location'].replace(['', ' '], np.nan)

# convert to bool
df_love['Location'] = df_love['Location'].notnull().astype(bool)
df_love['Verified'] = df_love['Verified'].notnull().astype(bool)
df_love['Average_favourite_count'] = df_love['Favourite_count'] / df_love['Tweet_count']
# calculate account age in years
current_date = dt.datetime.now()
df_love['account_age'] = (current_date - df_love['User_created_date']).astype('timedelta64[Y]')

# extract the time of day in 24 hour format
df_love['time'] = df_love['Date'].dt.strftime('%H:%M:%S')

# create a Day of week column
df_love['Day of week'] = df_love['Date'].dt.day_name()

#reorder
df_love = df_love.reindex(columns=['Tweet', 'Date', 'time', 'Day of week', 'Cashtags', 'Hashtags', 'Language', 'Location', 'Mentioned_users', 'Followers', 'Following', 'User_created_date', 'Listed_count', 'Favourite_count', 'Tweet_count', 'Verified', 'Average_favourite_count', 'account_age', 'Likes', 'Comments', 'Retweets', 'Views'])
print(df_love.dtypes)
df_love.shape

<ipython-input-151-c145dadffb9e>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_love['Tweet'] = df_love['Tweet'].astype('string')

Tweet                              string
Date                       datetime64[ns]
time                               object
Day of week                        object
Cashtags                           string
Hashtags                           string
Language                           string
Location                             bool
Mentioned_users                      bool
Followers                         float64
Following                         float64
User_created_date          datetime64[ns]
Listed_count                      float64
Favourite_count                     int64
Tweet_count                       float64
Verified                             bool
Average_favourite_count           float64
account_age                       float64
Likes                             float64
Comments                          float64
Retweets                          float64
Views                             float64
dtype: object

(197290, 22)

#my_data_moivation

In [152]:
def bad_line(x):
    print(x)
    return None

df_motivation = pd.read_csv('/content/drive/Othercomputers/My Laptop (1)/year4/final_project/data_science/data_set/my_data_motivation.csv',  on_bad_lines=bad_line, engine='python')
# drop column 
df_motivation = df_motivation.drop(columns=['Tweet_id','Cordinates','Place','User'])
print(df_motivation.dtypes)
df_motivation.shape

Date                  object
Tweet                 object
Cashtags              object
Hashtags              object
Language              object
Likes                  int64
Comments               int64
Retweets               int64
Mentioned_users       object
Views                float64
Followers              int64
Following              int64
User_created_date     object
Listed_count           int64
Favourite_count        int64
Location              object
Tweet_count            int64
Verified                bool
dtype: object

(10000, 18)

In [153]:
# drop empty and non-date values in the 'date' column
df_motivation['Date'] = pd.to_datetime(df_motivation['Date'], errors='coerce').dt.tz_localize(None)
df_motivation = df_motivation.dropna(subset=['Date'])
df_motivation['Tweet'] = df_motivation['Tweet'].astype('string')
column_list_df_motivation = ['Hashtags','Cashtags','Language'] 

# replace None and NaN with null in column 'Cashtags'
for column_item_df_motivation in column_list_df_motivation:
  df_motivation[column_item_df_motivation] = df_motivation[column_item_df_motivation].fillna('null')
  df_motivation[column_item_df_motivation] = df_motivation[column_item_df_motivation].astype('string')

drop_list_df_motivation = ['Likes','Comments','Retweets','Views']
for drop_item_df_motivation in drop_list_df_motivation:
  df_motivation = df_motivation.dropna(subset=[drop_item_df_motivation])

# replace empty strings and whitespace with NaN
df_motivation['Mentioned_users'] = df_motivation['Mentioned_users'].replace(['', ' '], np.nan)

# convert to bool
df_motivation['Mentioned_users'] = df_motivation['Mentioned_users'].notnull().astype(bool)

# convert column 'Views' to numeric data type
df_motivation['Views'] = pd.to_numeric(df_motivation['Views'], errors='coerce')
df_motivation['User_created_date'] = pd.to_datetime(df_motivation['User_created_date'], errors='coerce').dt.tz_localize(None)
df_motivation['Favourite_count'] = pd.to_numeric(df_motivation['Favourite_count'], errors='coerce')

# replace empty strings and whitespace with NaN
df_motivation['Location'] = df_motivation['Location'].replace(['', ' '], np.nan)

# convert to bool
df_motivation['Location'] = df_motivation['Location'].notnull().astype(bool)
df_motivation['Verified'] = df_motivation['Verified'].notnull().astype(bool)
df_motivation['Average_favourite_count'] = df_motivation['Favourite_count'] / df_motivation['Tweet_count']
# calculate account age in years
current_date = dt.datetime.now()
df_motivation['account_age'] = (current_date - df_motivation['User_created_date']).astype('timedelta64[Y]')

# extract the time of day in 24 hour format
df_motivation['time'] = df_motivation['Date'].dt.strftime('%H:%M:%S')

# create a Day of week column
df_motivation['Day of week'] = df_motivation['Date'].dt.day_name()

#reorder
df_motivation = df_motivation.reindex(columns=['Tweet', 'Date', 'time', 'Day of week', 'Cashtags', 'Hashtags', 'Language', 'Location', 'Mentioned_users', 'Followers', 'Following', 'User_created_date', 'Listed_count', 'Favourite_count', 'Tweet_count', 'Verified', 'Average_favourite_count', 'account_age', 'Likes', 'Comments', 'Retweets', 'Views'])
print(df_motivation.dtypes)
df_motivation.shape

Tweet                              string
Date                       datetime64[ns]
time                               object
Day of week                        object
Cashtags                           string
Hashtags                           string
Language                           string
Location                             bool
Mentioned_users                      bool
Followers                           int64
Following                           int64
User_created_date          datetime64[ns]
Listed_count                        int64
Favourite_count                     int64
Tweet_count                         int64
Verified                             bool
Average_favourite_count           float64
account_age                       float64
Likes                               int64
Comments                            int64
Retweets                            int64
Views                             float64
dtype: object

(9811, 22)

#my_data_movie

In [157]:
def bad_line(x):
    print(x)
    return None

df_movie = pd.read_csv('/content/drive/Othercomputers/My Laptop (1)/year4/final_project/data_science/data_set/my_data_movie.csv',  on_bad_lines=bad_line, engine='python')
# drop column 
df_movie = df_movie.drop(columns=['Tweet_id','Cordinates','Place','User'])
print(df_movie.dtypes)
df_movie.shape

Date                  object
Tweet                 object
Cashtags              object
Hashtags              object
Language              object
Likes                  int64
Comments               int64
Retweets               int64
Mentioned_users       object
Views                float64
Followers              int64
Following              int64
User_created_date     object
Listed_count           int64
Favourite_count        int64
Location              object
Tweet_count            int64
Verified                bool
dtype: object

(10000, 18)

In [159]:
# drop empty and non-date values in the 'date' column
df_movie['Date'] = pd.to_datetime(df_movie['Date'], errors='coerce').dt.tz_localize(None)
df_movie = df_movie.dropna(subset=['Date'])
df_movie['Tweet'] = df_movie['Tweet'].astype('string')
column_list_df_movie = ['Hashtags','Cashtags','Language'] 

# replace None and NaN with null in column 'Cashtags'
for column_item_df_movie in column_list_df_movie:
  df_movie[column_item_df_movie] = df_movie[column_item_df_movie].fillna('null')
  df_movie[column_item_df_movie] = df_movie[column_item_df_movie].astype('string')

drop_list_df_movie = ['Likes','Comments','Retweets','Views']
for drop_item_df_movie in drop_list_df_movie:
  df_movie = df_movie.dropna(subset=[drop_item_df_movie])

# replace empty strings and whitespace with NaN
df_movie['Mentioned_users'] = df_movie['Mentioned_users'].replace(['', ' '], np.nan)

# convert to bool
df_movie['Mentioned_users'] = df_movie['Mentioned_users'].notnull().astype(bool)

# convert column 'Views' to numeric data type
df_movie['Views'] = pd.to_numeric(df_movie['Views'], errors='coerce')
df_movie['User_created_date'] = pd.to_datetime(df_movie['User_created_date'], errors='coerce').dt.tz_localize(None)
df_movie['Favourite_count'] = pd.to_numeric(df_movie['Favourite_count'], errors='coerce')

# replace empty strings and whitespace with NaN
df_movie['Location'] = df_movie['Location'].replace(['', ' '], np.nan)

# convert to bool
df_movie['Location'] = df_movie['Location'].notnull().astype(bool)
df_movie['Verified'] = df_movie['Verified'].notnull().astype(bool)
df_movie['Average_favourite_count'] = df_movie['Favourite_count'] / df_movie['Tweet_count']
# calculate account age in years
current_date = dt.datetime.now()
df_movie['account_age'] = (current_date - df_movie['User_created_date']).astype('timedelta64[Y]')

# extract the time of day in 24 hour format
df_movie['time'] = df_movie['Date'].dt.strftime('%H:%M:%S')

# create a Day of week column
df_movie['Day of week'] = df_movie['Date'].dt.day_name()

#reorder
df_movie = df_movie.reindex(columns=['Tweet', 'Date', 'time', 'Day of week', 'Cashtags', 'Hashtags', 'Language', 'Location', 'Mentioned_users', 'Followers', 'Following', 'User_created_date', 'Listed_count', 'Favourite_count', 'Tweet_count', 'Verified', 'Average_favourite_count', 'account_age', 'Likes', 'Comments', 'Retweets', 'Views'])
print(df_movie.dtypes)
df_movie.shape

Tweet                              string
Date                       datetime64[ns]
time                               object
Day of week                        object
Cashtags                           string
Hashtags                           string
Language                           string
Location                             bool
Mentioned_users                      bool
Followers                           int64
Following                           int64
User_created_date          datetime64[ns]
Listed_count                        int64
Favourite_count                     int64
Tweet_count                         int64
Verified                             bool
Average_favourite_count           float64
account_age                       float64
Likes                               int64
Comments                            int64
Retweets                            int64
Views                             float64
dtype: object

(9938, 22)

#my_data_music

In [162]:
def bad_line(x):
    print(x)
    return None

df_music = pd.read_csv('/content/drive/Othercomputers/My Laptop (1)/year4/final_project/data_science/data_set/my_data_music.csv',  on_bad_lines=bad_line, engine='python')
# drop column 
df_music = df_music.drop(columns=['Tweet_id','Cordinates','Place','User'])
print(df_music.dtypes)
df_music.shape

Date                  object
Tweet                 object
Cashtags              object
Hashtags              object
Language              object
Likes                float64
Comments             float64
Retweets             float64
Mentioned_users       object
Views                float64
Followers            float64
Following            float64
User_created_date     object
Listed_count         float64
Favourite_count      float64
Location              object
Tweet_count          float64
Verified              object
dtype: object

(10001, 18)

In [163]:
# drop empty and non-date values in the 'date' column
df_music['Date'] = pd.to_datetime(df_music['Date'], errors='coerce').dt.tz_localize(None)
df_music = df_music.dropna(subset=['Date'])
df_music['Tweet'] = df_music['Tweet'].astype('string')
column_list_df_music = ['Hashtags','Cashtags','Language'] 

# replace None and NaN with null in column 'Cashtags'
for column_item_df_music in column_list_df_music:
  df_music[column_item_df_music] = df_music[column_item_df_music].fillna('null')
  df_music[column_item_df_music] = df_music[column_item_df_music].astype('string')

drop_list_df_music = ['Likes','Comments','Retweets','Views']
for drop_item_df_music in drop_list_df_music:
  df_music = df_music.dropna(subset=[drop_item_df_music])

# replace empty strings and whitespace with NaN
df_music['Mentioned_users'] = df_music['Mentioned_users'].replace(['', ' '], np.nan)

# convert to bool
df_music['Mentioned_users'] = df_music['Mentioned_users'].notnull().astype(bool)

# convert column 'Views' to numeric data type
df_music['Views'] = pd.to_numeric(df_music['Views'], errors='coerce')
df_music['User_created_date'] = pd.to_datetime(df_music['User_created_date'], errors='coerce').dt.tz_localize(None)
df_music['Favourite_count'] = pd.to_numeric(df_music['Favourite_count'], errors='coerce')

# replace empty strings and whitespace with NaN
df_music['Location'] = df_music['Location'].replace(['', ' '], np.nan)

# convert to bool
df_music['Location'] = df_music['Location'].notnull().astype(bool)
df_music['Verified'] = df_music['Verified'].notnull().astype(bool)
df_music['Average_favourite_count'] = df_music['Favourite_count'] / df_music['Tweet_count']
# calculate account age in years
current_date = dt.datetime.now()
df_music['account_age'] = (current_date - df_music['User_created_date']).astype('timedelta64[Y]')

# extract the time of day in 24 hour format
df_music['time'] = df_music['Date'].dt.strftime('%H:%M:%S')

# create a Day of week column
df_music['Day of week'] = df_music['Date'].dt.day_name()

#reorder
df_music = df_music.reindex(columns=['Tweet', 'Date', 'time', 'Day of week', 'Cashtags', 'Hashtags', 'Language', 'Location', 'Mentioned_users', 'Followers', 'Following', 'User_created_date', 'Listed_count', 'Favourite_count', 'Tweet_count', 'Verified', 'Average_favourite_count', 'account_age', 'Likes', 'Comments', 'Retweets', 'Views'])
print(df_music.dtypes)
df_music.shape

Tweet                              string
Date                       datetime64[ns]
time                               object
Day of week                        object
Cashtags                           string
Hashtags                           string
Language                           string
Location                             bool
Mentioned_users                      bool
Followers                         float64
Following                         float64
User_created_date          datetime64[ns]
Listed_count                      float64
Favourite_count                   float64
Tweet_count                       float64
Verified                             bool
Average_favourite_count           float64
account_age                       float64
Likes                             float64
Comments                          float64
Retweets                          float64
Views                             float64
dtype: object

<ipython-input-163-658c8882c97f>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_music['Tweet'] = df_music['Tweet'].astype('string')
<ipython-input-163-658c8882c97f>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_music[column_item_df_music] = df_music[column_item_df_music].fillna('null')
<ipython-input-163-658c8882c97f>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_music[column_item_df_music] = df_music[column_item_df_music].astype('string')

(9822, 22)

#my_data_new

In [164]:
def bad_line(x):
    print(x)
    return None

df_news = pd.read_csv('/content/drive/Othercomputers/My Laptop (1)/year4/final_project/data_science/data_set/my_data_news.csv',  on_bad_lines=bad_line, engine='python')
# drop column 
df_news = df_news.drop(columns=['Tweet_id','Cordinates','Place','User'])
print(df_news.dtypes)
df_news.shape

Date                  object
Tweet                 object
Cashtags              object
Hashtags              object
Language              object
Likes                float64
Comments             float64
Retweets             float64
Mentioned_users       object
Views                 object
Followers            float64
Following            float64
User_created_date     object
Listed_count         float64
Favourite_count       object
Location              object
Tweet_count          float64
Verified              object
dtype: object

(50003, 18)

In [165]:
# drop empty and non-date values in the 'date' column
df_news['Date'] = pd.to_datetime(df_news['Date'], errors='coerce').dt.tz_localize(None)
df_news = df_news.dropna(subset=['Date'])
df_news['Tweet'] = df_news['Tweet'].astype('string')
column_list_df_news = ['Hashtags','Cashtags','Language'] 

# replace None and NaN with null in column 'Cashtags'
for column_item_df_news in column_list_df_news:
  df_news[column_item_df_news] = df_news[column_item_df_news].fillna('null')
  df_news[column_item_df_news] = df_news[column_item_df_news].astype('string')

drop_list_df_news = ['Likes','Comments','Retweets','Views']
for drop_item_df_news in drop_list_df_news:
  df_news = df_news.dropna(subset=[drop_item_df_news])

# replace empty strings and whitespace with NaN
df_news['Mentioned_users'] = df_news['Mentioned_users'].replace(['', ' '], np.nan)

# convert to bool
df_news['Mentioned_users'] = df_news['Mentioned_users'].notnull().astype(bool)

# convert column 'Views' to numeric data type
df_news['Views'] = pd.to_numeric(df_news['Views'], errors='coerce')
df_news['User_created_date'] = pd.to_datetime(df_news['User_created_date'], errors='coerce').dt.tz_localize(None)
df_news['Favourite_count'] = pd.to_numeric(df_news['Favourite_count'], errors='coerce')

# replace empty strings and whitespace with NaN
df_news['Location'] = df_news['Location'].replace(['', ' '], np.nan)

# convert to bool
df_news['Location'] = df_news['Location'].notnull().astype(bool)
df_news['Verified'] = df_news['Verified'].notnull().astype(bool)
df_news['Average_favourite_count'] = df_news['Favourite_count'] / df_news['Tweet_count']
# calculate account age in years
current_date = dt.datetime.now()
df_news['account_age'] = (current_date - df_news['User_created_date']).astype('timedelta64[Y]')

# extract the time of day in 24 hour format
df_news['time'] = df_news['Date'].dt.strftime('%H:%M:%S')

# create a Day of week column
df_news['Day of week'] = df_news['Date'].dt.day_name()

#reorder
df_news = df_news.reindex(columns=['Tweet', 'Date', 'time', 'Day of week', 'Cashtags', 'Hashtags', 'Language', 'Location', 'Mentioned_users', 'Followers', 'Following', 'User_created_date', 'Listed_count', 'Favourite_count', 'Tweet_count', 'Verified', 'Average_favourite_count', 'account_age', 'Likes', 'Comments', 'Retweets', 'Views'])
print(df_news.dtypes)
df_news.shape

<ipython-input-165-a646a1a79025>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_news['Tweet'] = df_news['Tweet'].astype('string')
<ipython-input-165-a646a1a79025>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_news[column_item_df_news] = df_news[column_item_df_news].fillna('null')
<ipython-input-165-a646a1a79025>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_news[column_item_df_news] = df_news[column_item_df_news].astype('string')

Tweet                              string
Date                       datetime64[ns]
time                               object
Day of week                        object
Cashtags                           string
Hashtags                           string
Language                           string
Location                             bool
Mentioned_users                      bool
Followers                         float64
Following                         float64
User_created_date          datetime64[ns]
Listed_count                      float64
Favourite_count                     int64
Tweet_count                       float64
Verified                             bool
Average_favourite_count           float64
account_age                       float64
Likes                             float64
Comments                          float64
Retweets                          float64
Views                             float64
dtype: object

(49151, 22)

#Combine second 10 dataframes

In [166]:
# combine the dataframes vertically using concat
combined_df_second_10 = pd.concat([df_football, df_game, df_influencer, df_island, df_law, df_love, df_motivation, df_movie, df_music, df_news])

In [167]:
combined_df_second_10.shape

(406207, 22)

In [168]:
# save the DataFrame to a CSV file
combined_df_second_10.to_csv('my_data_second_ten.csv', index=False)